body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #fcd116;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.ciudad {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

footer {
    background-color: #003893;
    color: white;
    text-align: center;
    padding: 10px;
}
